<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>小小聊天室</title>

    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/utils.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

    <script src="/static/js/utils/DomSelector.js"></script>
    <script src="/static/js/videoStreamPublish/VideoDataRecorder.js"></script>
    <script src="/static/js/videoStreamPublish/VideoStreamHandler.js"></script>
    <script src="/static/js/videoStreamSubscribe/flv.js"></script>
    <script src="/static/js/videoStreamSubscribe/VideoLive.js"></script>
    <script src="/static/js/videoChat/main.js"></script>
</head>
<body>
<div class="center-parent">
    <div class="center-item" id="identifyWindow">
        <p>请输入您的ID</p>
        <input type="text" style="width: 300px;height: 45px;" />
        <a>确认</a>
    </div>

    <!-- 用户自己的video -->
    <div class="publish-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" controls autoplay></video>
    </div>


    <!-- 用户聊天对象的video（最多5个） -->
    <div class="subscribe-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" style="display: none;" controls autoplay></video>
    </div>
    <div class="subscribe-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" style="display: none;" controls autoplay></video>
    </div>
    <div class="subscribe-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" style="display: none;" controls autoplay></video>
    </div>
    <div class="subscribe-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" style="display: none;" controls autoplay></video>
    </div>
    <div class="subscribe-video-box square-box float-left" style="width: 30%;" >
        <video class="size-100-absolute" style="display: none;" controls autoplay></video>
    </div>
</div>
</body>
</html>